<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Multiplayer RPG</title>
    <script src="/static/tailwind.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body class="bg-gray-300 dark:bg-gray-800 text-neutral-950 dark:text-neutral-300">
    <div id="auth">

    </div>
    <div id="game">
      <h1>Hello world</h1>
      <div id="sidebar">

      </div>
      <div id="messages">

      </div>
      <div id="actions">

      </div>
    </div>
  </body>
</html>
